/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
}

/* make sure to set some focus styles for accessibility *

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

img {
  display: block;
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000;
}

.logo__text {
  color: #2196f3;
}

.modal-button {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__image {
  padding: 12px;
  border-radius: 50%;
}

.social-list__image--dark-theme {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.social-list__image:hover, .social-list__image:focus {
  background-color: #2196f3;
}

.main-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

.sub-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

/* HEADER */
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list-item:not(:last-child) {
  margin-right: 50px;
}

.nav__logo {
  margin-right: 86px;
}

.nav__link {
  padding: 32px 0 28px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.02em;
  text-align: left;
  color: black;
  border-bottom: 4px solid transparent;
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: #757575;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link:not(:last-child) {
  margin-right: 50px;
}

.address__icon {
  margin-right: 10px;
}

/* END HEADER */
/* PORTFOLIO SECTION */
.button-filter-form {
  font-size: 0;
}

.button-filter-form input[type='radio'] {
  display: none;
}

.button-filter-form label {
  display: inline-block;
  padding: 6px 22px;
  margin-bottom: 50px;
  background: #f5f4fa;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 625;
  letter-spacing: 0.03em;
  text-align: center;
}

.button-filter-form label:not(:last-child) {
  margin-right: 8px;
}

.button-filter-form label:hover {
  color: #fff;
  background: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px #0000001f;
          box-shadow: 0px 2px 2px 0px #0000001f;
  -webkit-box-shadow: 0px 1px 2px 0px #00000014;
          box-shadow: 0px 1px 2px 0px #00000014;
  -webkit-box-shadow: 0px 3px 1px 0px #0000001a;
          box-shadow: 0px 3px 1px 0px #0000001a;
}

.button-filter {
  text-align: center;
}

.button-filter-form {
  display: inline-block;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.categories-cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories-cards-list__item {
  width: calc((100% - 60px) / 3);
}

.categories-cards-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.categories-cards-list__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.categories-cards-list__item:hover, .categories-cards-list__item:focus {
  -webkit-box-shadow: 1px 4px 6px 0px #00000029;
          box-shadow: 1px 4px 6px 0px #00000029;
  -webkit-box-shadow: 0px 4px 4px 0px #0000000f;
          box-shadow: 0px 4px 4px 0px #0000000f;
  -webkit-box-shadow: 0px 1px 1px 0px #0000001f;
          box-shadow: 0px 1px 1px 0px #0000001f;
}

.categories-cards-list__img-description {
  display: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
}

.categories-cards-list__text-wrap {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.categories-cards-list__categorie {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.categories-cards-list__description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

/* END PORTFOLIO SECTION */
/* FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__logo {
  padding-bottom: 20px;
  color: #fff;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container__address-wrap {
  margin-right: 70px;
}

.footer-container__social-wrap {
  padding-top: 12px;
  margin-right: 94px;
}

.footer-container__subscribe-wrap {
  padding-top: 12px;
}

.footer-container__subscribe-wrap__subtitle {
  display: block;
  margin-bottom: 20px;
}

.footer-container__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container__link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-container__link:not(:last-child) {
  padding-bottom: 9px;
}

.footer-container__link--location {
  color: #fff;
}

.subtitle-call-to-action {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}

.footer .input.email::-webkit-input-placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer .input.email:-ms-input-placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer .input.email::-ms-input-placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer .input.email::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

.footer .input.email {
  background-color: rgba(255, 255, 255, 0);
}

.footer .button.email {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
}
/*# sourceMappingURL=portfolio.css.map */