/* CLIENTS SECTION */
.clients-section {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        margin-bottom: 30px;
    }
    @media screen and(min-width:768px) {
    }

    @media screen and(min-width:1140px) {
        padding-top: 94px;
        padding-bottom: 94px;

        &__title {
            margin-bottom: 50px;
        }
    }
}
.clients-list-wrapper {
    margin: 0 auto;
}
.clients-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -15px;
    @media screen and(min-width:768px) {
        flex-wrap: wrap;
    }

    @media screen and(min-width:1140px) {
        flex-wrap: nowrap;
    }
    &__item {
        width: calc((100% - 30px * 2) / 2);
        margin: 15px;
        @media screen and(min-width:768px) {
            width: calc((100% - 30px * 3) / 3);
        }

        @media screen and(min-width:1140px) {
            width: calc((100% - 30px * 6) / 6);
        }
        border: 1px solid $social-color;
        border-radius: 4px;
        transition: border-color $cubic-bezier 250ms;

        // &:not(:last-child) {
        //     margin-right: 30px;
        // }

        &:hover,
        &:focus {
            border: 1px solid $secondary-color;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 170px;
        min-height: 90px;
    }
    &__image {
        fill: $social-color;

        transition: fill $cubic-bezier 250ms;
    }
    &__item:hover &__image {
        fill: $secondary-color;
    }
}
/* END CLIENTS SECTION */
