/* HERO SECTION */
.hero-section {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8)), url('../../images/main-page/hero-section/hero-section-bg.jpg');
  background-color: rgba(47, 48, 58, 0.8);
}

/* END HERO SECTION */
