/* HERO SECTION */
.hero-section {
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient($hero-bg-color),
    url('../../images/main-page/hero-section/hero-section-bg.jpg');
  background-color: $hero-bg-color;
}

/* END HERO SECTION */
