.qualities-section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    @extend .visually-hidden;
  }
}
.qualities-list {
  display: flex;
  &__item {
    min-width: calc((100% - 30px * 3) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    background-color: $secondary-bg-color;
    border-radius: 4px;

    transition: background-color $cubic-bezier 250ms;
  }

  &__item:hover &__img-container,
  &__item:focus &__img-container {
    background-color: $secondary-color;
  }

  &__img {
    transition: all $cubic-bezier 250ms;
  }
  &__item:hover &__img {
    --color1: #fff;
    --color2: #fff;
  }

  &__sub-title {
    margin-top: 30px;
  }
  &__description {
    margin-top: 10px;

    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $descriptions-color;
  }
}
