.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.192;
    letter-spacing: 0.03em;

    color: $primiry-black-color;

    &__text {
        color: $secondary-color;
    }

    @media screen and(min-width:768px) {
        font-size: 24px;
    }

    @media screen and(min-width:1140px) {
        font-size: 26px;
    }
}
