.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  
  color: $primiry-black-color;

  &__text {
    color: $secondary-color;
  }
}
