.main-title {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: $primiry-white-color;

    @media screen and(min-width: 1140px) {
        font-size: 44px;
    }
}

.title {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and(min-width:768px) {
    }

    @media screen and(min-width:1140px) {
        font-size: 36px;
    }
}

.sub-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primiry-color;
}
.footer-subtitle {
    font-weight: 700;
    line-height: 1.172;
    letter-spacing: 0.03em;
    color: #fff;
    text-transform: uppercase;
}
