/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.list-item {
  list-style: none;
}
.link,
.link-logo {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  display: inline-block;
}
h1 {
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

/* HEADER */
.link-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000;
}
.link-logo > .first {
  color: #2196f3;
}

.menu-list .link,
.menu-list .link:visited {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.02em;
  text-align: left;
  color: black;
}
.menu-list .link.current,
.menu-list .link.current:visited {
  color: #2196f3;
  padding: 28px 0;
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
}

.nav-address,
.nav-address .link,
.nav-address .link:visited {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
}

.header .link:hover,
.header .link:focus {
  color: #2196f3;
}
/* END HEADER */

/* PORTFOLIO SECTION */
.categories-cards-list .img-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
}

.categories-cards-list h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.categories-cards-list .category-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
/* END PORTFOLIO SECTION */

/* FOOTER */
.footer {
  background-color: #2f303a;
}
.footer .address-link,
.footer .address-link:visited {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer .location {
  color: rgba(255, 255, 255);
}
.footer .subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
.footer .input.email::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
.footer .input.email {
  background-color: rgba(255, 255, 255, 0);
}
.footer .button.email {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
}
/* END FOOTER */
