/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  font-size: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.list {
  padding: 0;
  margin: 0;
}
.list-item {
  list-style: none;
}
.link,
.link-logo {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  display: inline-block;
}
h1 {
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: center;
}

/* HEADER */
.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar {
  display: flex;
  align-items: center;
}
.link-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000;
  margin: 0 86px 0 0;
}
.link-logo > .first {
  color: #2196f3;
}
.menu.list {
  display: flex;
}

.menu.list .list-item + .list-item {
  margin-left: 50px;
}
.menu.list .link,
.menu.list .link:visited {
  padding: 32px 0 28px 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.02em;
  text-align: left;
  color: black;
  border-bottom: 4px solid transparent;
}
.menu.list .link:hover {
  color: #2196f3;
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
}
.nav-address,
.nav-address .link,
.nav-address .link:visited {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.172;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
}
.header .nav-address .link + .link {
  margin-left: 50px;
}

.header .link:hover,
.header .link:focus {
  color: #2196f3;
}
.nav-address .adress-icon {
  margin-right: 10px;
}
/* END HEADER */



/* FOOTER */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer-container {
  display: flex;
}
.address-container {
  margin-right: 70px;
}
.address-container a {
  display: block;
}
.social-container {
  padding-top: 12px;
  margin-right: 94px;
}
.subscribe-container {
  padding-top: 12px;
}
.social-container .social-list {
  margin-top: 0;
}
.footer .subtitle {
  display: block;
  margin-bottom: 20px;
}
.footer .link-logo {
  padding-bottom: 20px;
}
.footer .address-link,
.footer .address-link:visited {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer .address-link:not(:last-child) {
  padding-bottom: 9px;
}

.footer .location {
  color: rgba(255, 255, 255);
}
.footer .subtitle {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.172;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
}
.footer .input.email::placeholder {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
.footer .input.email {
  background-color: rgba(255, 255, 255, 0);
}
.footer .button.email {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
}
/* END FOOTER */


/* ?TEST */
/* ?TEST */